<ng-container *ngIf="events$ | async as events">
  <div class="min-h-screen bg-black text-white">
    <div class="container mx-auto px-4 ">
      <div class="flex justify-between items-center mb-8">
        <app-page-title title="My events"></app-page-title>
        <button 
          (click)="openCreatePopup()" 
          class="bg-primary-color hover:opacity-95 text-white font-medium py-2 px-6 rounded-full transition-colors duration-300">
          Create Event
        </button>
      </div>
      
      <app-event-list 
        [events]="events.data" 
        (editEvent)="openEditPopup($event)" 
        >
      </app-event-list>
    </div>
    
    <app-event-form-popup 
      *ngIf="showPopup" 
      [event]="currentEvent" 
      (close)="closePopup()" 
      >
    </app-event-form-popup>
  </div>
  
</ng-container>s