<nav class="bg-secondary-bg shadow-lg">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center">
        <div>
          <a routerLink="/" class="flex items-center  px-2">
            <img src="assets/images/EventLinkerLogo.png" class="w-[250px] h-[70px] object-cover" alt="">
          </a>
        </div>
        <div class="flex items-center space-x-4 ">
            <ng-container *ngIf="user$ | async as user ">
                <ng-container *ngIf="profileData$ | async as profileData">
                    <ng-container *ngIf="user.role === 'WORKER'">
                        <div class="text-sm text-[#666] font-medium">
                            Balance :
                            <span class="text-primary-color font-semibold underline text-[.9rem]"> {{profileData.balance}} $</span>
                         </div>
                    </ng-container> 
                    <div class="flex items-center space-x-2 cursor-pointer" (click)="togglePopup()">
                        <img src="assets/images/profile.png" alt="Profile" class="w-8 h-8 rounded-full">
                        <span class="font-medium text-gray-700">{{profileData.username}}</span>
                      </div>
                </ng-container>
            </ng-container>
            
        </div>
      </div>
    </div>
    
    <div *ngIf="showPopup" class="absolute right-[10.5%] mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10">
        <ng-container *ngIf="user$ | async as user">
          <ng-container *ngIf="user.role === 'WORKER'">
            <a routerLink="/collector/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">Profile</a>
            <a routerLink="/collector/dashboard" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">Browse Requests</a>
            <a routerLink="/collector/dashboard/requests" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">My Requests</a>
          </ng-container>
          <ng-container *ngIf="user.role === 'ORGANIZER'">
            <a routerLink="/user/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">Profile</a>
            <a routerLink="/user/requests/create" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">Make Requests</a>
            <a routerLink="/user/requests" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">My Requests</a>
            <a routerLink="/user/points" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">My Points</a>
          </ng-container>
          <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" (click)="hidePopup()">Logout</a>
        </ng-container>
      </div>
  </nav>