<div class="min-h-screen bg-black text-white">

    <div class="container mx-auto px-4 ">
        <div class="flex justify-between items-center mb-8">
          <app-page-title title="My Announcements"></app-page-title>
          <button 
            (click)="openCreatePopup()" 
            class="bg-primary-color hover:opacity-95 text-white font-medium py-2 px-6 rounded-full transition-colors duration-300">
            Create Announcement
          </button>
        </div>
      <app-announcement-list 
      *ngIf="!isLoading && !error"
      [announcements]="announcements" 
      (edit)="openEditPopup($event)" 
      (delete)="confirmDelete($event)">
    </app-announcement-list>
  </div>
  
  <app-announcement-form-popup 
    *ngIf="showFormPopup" 
    [announcement]="currentAnnouncement" 
    (close)="closePopup()" 
    (save)="saveAnnouncement($event)">
  </app-announcement-form-popup>
  
  <app-confirmation-modal
    *ngIf="showConfirmationModal"
    (confirm)="deleteAnnouncement()"
    (cancel)="cancelDelete()">
  </app-confirmation-modal>
</div>    
      
   
      
      
  
  