<div class="w-full min-h-[300px]">
    <div class="w-full h-[300px] flex items-center justify-center gap-4">
        @if (bio) {
            <i class="fa-solid fa-quote-left" style="margin-bottom: 15px;"></i>
            <p class="text-[.9rem] font-semibold">{{bio}}</p>
            <i class="fa-solid fa-quote-right" style="margin-top: 15px;"></i>
        }@else {
            <p class="text-[.9rem] font-semibold">You don't have a bio yet ! <span class="underline text-[.8rem] text-primary-color cursor-pointer duration-300 hover:opacity-85">add one</span> </p>
        }
    </div>
</div>  