<nav class="container flex justify-between relative z-1000 items-center mx-auto">
    <div class="flex gap-6">
        <p class="text-white font-semibold cursor-pointer duration-300 hover:text-primary-color">About</p>
        <p class="text-white font-semibold cursor-pointer duration-300 hover:text-primary-color">Artist</p>
        <p class="text-white font-semibold cursor-pointer duration-300 hover:text-primary-color">Event</p>
        <p class="text-white font-semibold cursor-pointer duration-300 hover:text-primary-color">Contact</p>
    </div>
    <img src="assets/images/EventLinkerLogo.png" class="w-[250px] " alt="">
    <div class="flex gap-6">
        <button class="px-6 py-2 bg-transparent text-white font-medium text-[.9rem] border-2 border-primary-color hover:border-white duration-300" routerLink="/auth/register">Sign Up</button>
        <button class="px-6 py-2 border-2 text-white font-medium text-[.9rem] bg-primary-color border-primary-color duration-300 hover:opacity-85" routerLink="/auth/login">Sign In</button>
    </div>
</nav>  