<h1 class="text-white text-2xl mb-2 font-semibold">Welcome Back</h1>
<p class="text-[#666] font-medium mb-8 text-[.9rem]">
          Don't have an account yet? <a routerLink="/auth/register" class="text-primary-color cursor-pointer hover:underline">Sign Up</a>
</p>
<form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="relative mb-4">
      <i class="fa-solid fa-envelope absolute left-4 top-1/2 transform -translate-y-1/2 " style="color: #fdaa33;"></i>
      <input type="email" formControlName="email" placeholder="email address" class="w-full py-4 pl-10 pr-4 bg-[#222] focus:outline-none focus:border focus:border-1 focus:border-primary-color rounded-md text-white text-sm placeholder-[#666]">
    </div>

    <div class="relative mb-4">
      <i class="absolute left-4 top-1/2 transform -translate-y-1/2 text-[#666]">🔒</i>
      <input type="password" formControlName="password" placeholder="Password" class="w-full py-4 pl-10 pr-4 bg-[#222] focus:outline-none focus:border focus:border-1 focus:border-primary-color rounded-md text-white text-sm placeholder-[#666]">
    </div>
    <button type="submit" class="w-full py-4 bg-primary-color font-semibold text-white rounded-md text-base cursor-pointer mt-4 hover:opacity-85 mb-8">
      Login
    </button>
  </form>