<div class="absolute w-[100vw] h-[100vh] inset-0 z-[-1] bg-black bg-opacity-75">
</div>
<div class="absolute w-[100vw] h-[100vh] inset-0 z-[-100]">
    <img src="assets/images/hero-section-cover.jpg" class="w-full h-full object-fill" alt="">
</div>

<div class="w-full h-full flex items-center justify-center">
    <div class="flex flex-col gap-8 text-white w-[70%] items-center mt-24">
        <div class="flex flex-col gap-3 text-4xl font-bold items-center">
            <h1>Seamlessly Connecting Event Organizers with</h1>
            <h1>Skilled Professionals to Bring Unforgettable</h1>
            <h1>Experiences to Life ! 🎯</h1>
        </div>
        <h2 class="font-bold text-[1.1rem] text-center text-secondary-color">Connect, Collaborate, Celebrate Your Event, Our Network!</h2>
    
        <div *ngIf="decodedUserData() as token ;  else getStarted">
            <ng-container *ngIf="token.roles?.[0] === 'ROLE_WORKER'; else organizerLink">
                <button routerLink="/worker" class="px-6 py-2 bg-transparent text-white font-medium text-[.9rem] border-2 border-primary-color hover:border-white duration-300">
                    Browse Events
                </button>
            </ng-container>
            <ng-template #organizerLink>
                <button routerLink="/organizer" class="px-6 py-2 bg-transparent text-white font-medium text-[.9rem] border-2 border-primary-color hover:border-white duration-300">
                    Manage Events
                </button>
            </ng-template>
          </div>
          
          <ng-template #getStarted>
            <button routerLink="/auth/register" class="px-6 py-2 bg-transparent text-white font-medium text-[.9rem] border-2 border-primary-color hover:border-white duration-300">
              Get Started
            </button>
          </ng-template>        
    </div>
</div>